<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team6.cmpt276.greenfoodchallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlannerQuiz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MeatEater"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LowMeat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConsumptionQuiz1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConsumptionQuiz2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ResultActivity"
            android:screenOrientation="portrait">
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".activities.ResultActivity2"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.PledgeActivity" />
        <activity android:name=".activities.PledgeSummary" />
        <activity android:name=".activities.ViewAllPledges"></activity>
    </application>

</manifest>